strong {
    color: var(--color-zinc-300);
}

.aw-box {
    border: 1px solid var(--fesk-card-border);
}

.aw-main-h2 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

.aw-margin-top {
    margin-top: 20px;
}

.aw-margin-top-15 {
    margin-top: 15px;
}

.aw-margin-bottom {
    margin-bottom: 10px;
}

.aw-collapse-title {
    margin: 1px;
    border-bottom: 1px solid var(--fesk-card-border);
    border-radius: 0px;
    color: var(--fesk-collapse-title);
}

.aw-collapse-content {
    margin: 0px;
    padding: 0px;
    font-family: var(--font-mono);
    color: var(--color-zinc-400);
    font-size: var(--text-xs);
    line-height: var(--tw-leading, var(--text-xs--line-height));
    /* border: 1px solid var(--fesk-card-border);
    border-radius: 0px;
    background-color: var(--background); */

}

.aw-collapse-checkbox {
    padding: 0px;
}

.aw-drawer-title {
    line-height: 18px;
    padding-bottom: 1px;
    padding-left: 3px;
}

.aw-property {
    padding: 2px;
    margin-left: 15px;
}

.aw-overflow-wrap {
    overflow-wrap: break-word;
    overflow-x: auto;
    overflow-y: auto;
}

.aw-tree-item-mt {
    margin-top: 5px;
}

.aw-roleturn-role {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-zinc-200);
    padding: 4px;
    margin-left: 15px;
    margin-top: 15px;
}

.aw-roleturn-body {
    border: 1px solid var(--fesk-card-2-border);
    padding-top: 15px;
    padding-bottom: 12px;
    background: var(--fesk-card-2-background);
    border-radius: 5px;
    margin-left: 15px;
    max-height: 200px;
}